@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --greyColor : #e5e5e54f;
    --btnColor :  #1089FF;
    --greenBtnColor : #00AF91;
    --footerColor : #202029;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* Navbar Design */
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    font-weight: 500;
    background: white;
}


nav .burger{
    display: none;
}

nav .nav-links-1,nav .navThirdPart,nav .nav-links-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    list-style: none;
}

nav a{
    padding: 10px 17px;
    text-decoration: none;
}

nav a:hover{
    color: #1089FF;
}

nav .NavSearchIcon{
    margin-top: 6px;
}


nav .NavDarkBtn{
    background: #42414B;
    color: white;
    border-radius: 5px;
}


nav .NavDarkBtn:hover{
    color: white;
}

nav a{
    color: white;
}

@media only screen and (min-width:900px){
    nav a{
        color: #42414B;
    }
    
    nav .nav-links-1,nav .nav-links-2{
        margin-top: 20px;
    }    
}

@media only screen and (max-width:900px){
    nav .navThirdPart{
        display: none;
    }

    nav a{
        color: black;
    }
}


@media only screen and (max-width:650px){
    nav a{
        color: white;
    } 

    nav{
        justify-content: space-around;
    }

    nav .burger{
        z-index: 2;
        display: block;
    }
    
    .burger .line-1, .burger .line-2, .burger .line-3{
        width: 30px;
        height: 4px;
        background: black;
        margin: 4px;
    }

    .nav-links-1{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100%;
        height: 90vh;
        background: rgb(0, 0, 0);
        color: white !important;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        transform: translateX(-200%);
        transition: all 0.5s ease-in;
    }

    .nav-links-1 li{
        padding: 20px 0px;
        font-size: 20px;
    }


    .nav-active{
        /* display: none; */
        transform: translate(0%);
    }

    .burger div{
        transition: all 0.5s ease;
    }

    .toggle .line-1{
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .line-2{
        opacity: 0;
    }

    .toggle .line-3{
        transform: rotate(45deg) translate(-5px,-6px);
    }

}











/* First Section Design */
.first_section{
    min-height: 90vh;
    background: var(--greyColor);
    overflow: hidden;
}


.first_section .row .col{
    min-height: 90vh;
}



.first_section .first_section_FirstCol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.first_section .first_section_FirstCol .UpperHeading{
    width: 50%;
}

.first_section .first_section_FirstCol .UpperHeading h1{
    font-size: 60px;
    font-weight: bold;
}

.first_section .first_section_FirstCol p{
    width: 50%;
    margin: 0px auto;
    color: grey;
}


.first_section .first_section_FirstCol form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background: white;
    position: relative;
    left: 45px;
}

.first_section .first_section_FirstCol form .formBox-1,.first_section .first_section_FirstCol form .formBox-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first_section .first_section_FirstCol form .formBox-1{
    width: 60%;
    border-right: 1px solid grey;
}
 
.first_section .first_section_FirstCol form .formBox-2{
    padding-left: 10px;
}

.first_section .first_section_FirstCol form input{
    outline: none;
    padding: 5px;
    border: none;
    width: 100%;
}


.first_section .first_section_FirstCol form input::placeholder{
    color: grey;
}


.first_section .first_section_FirstCol form button{
    position: relative;
    left: 30px;
}



.first_section .first_section_secondCol .backgroundIMg{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
}

.first_section .first_section_secondCol .firstImg-11{
    position: absolute;
    top: 25%;
    right: 20%;
    height: 70%;
    width: 20%;
}



.first_section .first_section_secondCol .firstIMG-12{
    position: absolute;
    top: 60%;
    right: 0%;
    height: 20%;
    width: 10%;
}

.first_section .first_section_secondCol  .firstIMG-13{
    position: absolute;
    top: 15%;
    right: 15%;
    z-index: -1;
}

.first_section .first_section_secondCol  .firstImg-14{
    position: absolute;
    height: 15%;
    left: 5%;
    bottom: 0%;
}


@media only screen and (max-width:1200px){
    .first_section .first_section_FirstCol .UpperHeading h1{
        font-size: 40px;
    }
    .first_section .first_section_FirstCol form{
        left: 20px;
    }
}


@media only screen and (max-width:992px){
    .first_section .first_section_secondCol{
        display: none;
    }
    .first_section .first_section_FirstCol .UpperHeading h1{
        font-size: 50px;
    }
    .first_section{
        background: url("https://images.pexels.com/photos/1829191/pexels-photo-1829191.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")center center/cover;
        opacity: 0.96;
        color: white;
    }
    .first_section .first_section_FirstCol p{
        color: white;
    }

    .first_section .first_section_FirstCol .formBox-2 p{
        color: grey;
    }


}



@media only screen and (max-width:768px){
    .first_section .first_section_FirstCol .UpperHeading h1{
        font-size: 40px;
    }
    .first_section .first_section_FirstCol form{
        width: 80%;
    }
}


@media only screen and (max-width:576px){
    .first_section .first_section_FirstCol form input::placeholder{
        color: grey;
        font-size: 10px;
    }


    .first_section .first_section_FirstCol .UpperHeading{
        width: 70%;
        text-align: center;
    }

    .first_section .first_section_FirstCol p{
        width: 70%;
        text-align: center;
    }

    .first_section .first_section_FirstCol form{
        width: 60%;
    }

    .first_section .first_section_FirstCol form .formBox-1{
        border: none;
    }

    .first_section .first_section_FirstCol form .formBox-2{
        display: none;
    }

    .fifthSection .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


















/* Second Section */
.second_section{
    /* min-height: 60vh; */
    padding: 50px;
}

.section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    padding: 30px 0px;
}


.second_section #first .owl-carousel .owl-nav .owl-prev {
    background: var(--btnColor);
    position: absolute;
    top: 35%;
    right : -12%;    
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
} 

.second_section #first .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 35%;
    left : -12%;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;    
    border: 1px solid grey;
}

.SecondLayerBtn{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


















/* Third Section Design */
.ThirdSection{
    background: var(--greyColor);
    padding: 50px 0px;
}

.ThirdSection .ThirdSectionFirstRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ThirdSection .ThirdSectionFirstRow .ThirdSectionHeading h1{
    font-weight: bolder;
}

.ThirdSection .ThirdSectionFirstRow .ThirdSectionLinks ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ThirdSection .ThirdSectionFirstRow .ThirdSectionLinks ul li{
    list-style: none;
}

.ThirdSection .ThirdSectionFirstRow .ThirdSectionLinks ul li a{
    text-decoration: none;
    color: rgb(49, 49, 49);
    font-weight: 500;
}

.ThirdSection .ThirdSectionFirstRow .ThirdSectionLinks ul li .firstLink{
    color: #1089FF;
    border-bottom: 3px solid  #1089FF;
}


.ThirdSection .thirdSectionCard{
    background: white;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.ThirdSection .thirdSectionCard h5{
    padding: 10px 0px;   
}


.ThirdSection .ThirdSectionSecondCardHolder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ThirdSection .ThirdSectionSecondCardHolder .partitionItems{
    display: flex;
    align-items: center;
}

.ThirdSection .ThirdSectionSecondCardHolder .partitionItems p{
    font-size: 10px;
    margin-top: 15px;
    padding: 5px;
}


.ThirdSection .ThirdSectionFirstCardholder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ThirdSection .ThirdSectionFirstCardholder .profileAndName{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ThirdSection .ThirdSectionFirstCardholder .profileAndName h6{
    padding-left: 10px;
    padding-top: 5px;
}


.ThirdSection .ThirdSectionFirstCardholder del{
    color: grey;
}

.ThirdSection .ThirdSectionFirstCardholder .profileAndName img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



@media only screen and (max-width:1200px) and (min-width:1000px){
    .ThirdSection .ThirdSectionSecondCardHolder .partitionItems p{
        font-size: 7px;
        margin-top: 20px;
        padding: 5px;
    }
}

@media only screen and (max-width:576px){
    .second_section h1{
        font-size: 20px;
    }

    .ThirdSectionFirstRow,.thirdSectionSecondRow{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px 20px;
    }
    .ThirdSectionFirstRow h1{
        text-align: center;
    }

    .ThirdSectionFirstRow .ThirdSectionLinks{
        display: none;
    }
}















/* Fourth Section */

.fourthSection{
    background: #EBEBF2;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthSection .FourthSectionCardDesign{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.fourthSection .FourthSectionCardDesign p{
    text-align: center;
}



@media only screen and (max-width:576px){
    .fourthSection .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px 20px;
    }

    .fourthSection .row .FourthSectionCardDesign{
        margin-bottom: 20px;
    }
}













/* Fifth Section Design */
.fifthSection{
    background: white;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.fifthSection .heading_5{
    font-weight: bolder;
}

.fifthSection .FifthSectionImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifthSection .FifthSectionImg img{
    border-radius: 20px;
}

.fifthSection .fifthSectionTextItems{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.fifthSection .fifthSectionTextItems h1{
    font-size: 80px;
    font-weight: bolder;
    color: #00AF91;
    opacity: 0.5;
}

.fifthSection .fifthSectionTextItems .innerBoxFifthLayerItem{
    padding-left: 15px;
}

.fifthSection .fifthSectionTextItems .innerBoxFifthLayerItem p{
    color: grey;
}


@media only screen and (max-width:576px){
    .fifthSection .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px 20px;
    }

    .fifthSection .row a{
        margin-bottom: 20px;
    }

    .fifthSection .fifthSectionTextItems h1{
        font-size: 40px;
    }
}









/* Sixth Section Design Starts */
.SixthSection{
    background: #EBEBF2;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px;
}

.SixthSection #SecondCarousel .item{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.SixthSection #SecondCarousel .item .SecondCarouselInnerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.SixthSection #SecondCarousel .item .SecondCarouselInnerBox .SecondCarouselDeepInner img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.SixthSection #SecondCarousel .item .SecondCarouselInnerBox .SecondCarouselDeepInner h5{
    padding-left: 10px;
    padding-top: 5px;
}

.SixthSection #SecondCarousel .item .SecondCarouselInnerBox  .ratingsIMg{
    width: 20%;
    height: 30px;
}

.SixthSection #SecondCarousel .item .SecondCarouselInnerBox .SecondCarouselDeepInner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}





#SecondCarousel .owl-carousel .owl-nav .owl-prev {
    background: var(--btnColor);
    position: absolute;
    top: 35%;
    right : -12%;    
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
} 

#SecondCarousel .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 35%;
    left : -12%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;    
    border: 1px solid grey;
}


.SixthSection .SixthSectionthirdROw h4{
    text-align: center;
}


.SixthSection .SixthSectionthirdROw p{
    text-align: center;
    color: grey;
}

@media only screen and (max-width:576px){
    .SixthSection .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #SecondCarousel .owl-carousel .owl-nav{
        display: none;
    }
}












/* Seventh Section Design */
.seventhSection{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seventhSection #ThirdCarousel .item img{
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.seventhSection #ThirdCarousel .item p,.seventhSection #ThirdCarousel .item  h5{
    text-align: center;
}

.seventhSection #ThirdCarousel .item p{
    color: grey;
}



#ThirdCarousel .owl-carousel .owl-nav .owl-prev {
    background: var(--btnColor);
    position: absolute;
    top: 35%;
    right : -12%;    
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
} 

#ThirdCarousel .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 35%;
    left : -12%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;    
    border: 1px solid grey;
}


@media only screen and (max-width:576px){
    .seventhSection{
        padding: 30px 0px;
    }

    .seventhSection .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #ThirdCarousel .owl-carousel .owl-nav{
        display: none;
    }
}














/* Eighth Section */
.EigthSection{
    background: var(--greyColor);
    padding: 50px 0px;
}

.EigthSection #FourthCarousel .item .fourthCarouselPart-2{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.EigthSection #FourthCarousel .item .fourthCarouselPart-2 p{
    font-size: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

.EigthSection #FourthCarousel .item .fourthCarouselPart-2 .secondPart_part-1,.EigthSection #FourthCarousel .item .fourthCarouselPart-2 .secondPart_part-2{
    display: flex;
}

.EigthSection #FourthCarousel .item .fourthCarouselPart-2 img{
    height: 20px;
    width: 20px;
}


#FourthCarousel .owl-carousel .owl-nav .owl-prev {
    background: var(--btnColor);
    position: absolute;
    top: 35%;
    right : -12%;    
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
} 

#FourthCarousel .owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 35%;
    left : -12%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;    
    border: 1px solid grey;
}


@media only screen and (max-width:576px){
    .EigthSection{
        padding: 30px 0px;
    }

    .EigthSection .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #FourthCarousel .owl-carousel .owl-nav{
        display: none;
    }
}



.EigthSection .EightLayerBTn{
    display: flex;
    justify-content: center;
    align-items: center;
}






/* Nineth Section Design */
.NinethSection{
    padding: 50px 0px;
    background: #EBEBF2;
}

.NinethSection .NinethSectionCArd,.NinethSection .NinethSectionCArd  .NinethSectionInnnerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NinethSection .NinethSectionCArd  .NinethSectionInnnerBox{
    background: white;
    border-radius: 10px;
    padding: 50px 30px;
}

.NinethSection .NinethSectionCArd img{
    height: 200px;
    width: 200px;
    position: relative;
    top: 50px;
    border-radius: 10px;
}

.NinethSection .NinethSectionCArd h4{
    font-weight: bold;
    padding-top: 10px;
}

.NinethSection .NinethSectionCArd p{
    text-align: center;
    color: grey;
}

.NinethSection .NinethSectionCArd a{
    background: var(--greenBtnColor);
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}



@media only screen and (max-width:576px){
.NinethSection .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}
}












/* Tenth Section Design */
.tenthSection{
    background: #EBEBF2;
}


.tenthSection .row .col{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    border-radius: 10px;
    z-index: 22;
    position: relative;
    top: 40px;
}

.tenthSection .row .col p{
    color: grey;
    text-align: center;
}

.tenthSection .row .col form{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tenthSection .row .col input{
    outline: none;
    width: 100%;
    padding: 5px;
}











/* Footer Section */ 
footer{
    color: grey;
    background: var(--footerColor);
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p{
    font-size: 13px;
}

footer .FooterFirstCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer .FooterFirstCol .logoImgFooter{
    width: 50%;
}

footer .FooterFirstCol .footerSocialMedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .FooterFirstCol .footerSocialMedia li{
    list-style: none;
    border: 1px solid grey;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

footer .FooterFirstCol .footerSocialMedia li:nth-child(1):hover{
    background: rgb(224, 40, 70);
}


footer .FooterFirstCol .footerSocialMedia li:nth-child(2):hover{
    background: rgb(11, 149, 241);
}


footer .FooterFirstCol .footerSocialMedia li:nth-child(3):hover{
    background: rgb(0, 200, 250);
}


footer .FooterFirstCol .footerSocialMedia li:nth-child(4):hover{
    background: rgb(255, 0, 43);
}


footer .FooterFirstCol .footerSocialMedia li:nth-child(5){
    padding: 6px 14px;
}

footer .FooterFirstCol .footerSocialMedia li:nth-child(5):hover{
    background: rgb(40, 52, 224);
}


footer .FooterSecondCol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .FooterSecondCol h5{
    color: white;
}

footer .FooterSecondCol a{
    text-decoration: none;
    color: grey;
    transition: all 0.5s ease;
}

footer .FooterSecondCol a:hover{
    color: white;
    text-decoration: underline;
}

footer .Footerbox{
    display: flex;
    justify-content: space-between;
}

footer .Footerbox a{
    text-decoration: none;
    color: grey;
}



@media only screen and (max-width:576px){
    footer .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    
    footer .FooterSecondCol{
        align-items: flex-start;
    }

    footer .col{
        padding: 0px 20px;
        margin-bottom: 20px;
    }

    
    .tenthSection .row .col{
        top: 0px;
        margin-bottom: 40px;
    }
}